<ul>
  <li>
    <div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
        <!--<button *ngIf="!isAuthenticated()" (click)="changeToLocal()">切换至本地</button>
        <button *ngIf="!isAuthenticated()" (click)="changeToTest()">切换至测试</button>-->
      </h1>
    </div>
    <p *ngIf="domain_url">{{domain_url}}</p>
  </li>
  <li>
    <app-mass-import></app-mass-import>
  </li>
  <li>
    <app-mass-quickcall></app-mass-quickcall>
  </li>
  <li>
    <router-outlet></router-outlet>
  </li>
</ul>

